/* Blog Home styles */

.single-blog {
    padding-top: 10%;
}

.card-read-more,
.card-see-all {
    background-color: #6851DD;
}

.card-read-more:hover,
.card-see-all:hover {
    background-color: #FEBDF2;
    color: #202224;
}

.blog-more>a {
    color: #6851DD;
    text-decoration: underline;
    text-decoration-color: #FEBDF2;
    font-weight: bold;
}

.blog-more>a:hover {
    color: #FEBDF2;
    text-decoration-color: #6851DD;
    font-weight: bolder;
}

.categories {
    align-items: center;
}

.categories>h6 {
    font-weight: 500;
    margin-right: 2rem;
}


/* Blog Single Styles */

.blog-body>h1 {
    font-size: 1.5rem !important;
    font-weight: bold;
    margin-top: 3%;
}

.blog-body>p {
    margin-top: 1%;
    margin-bottom: 1%;
}

.blog-body>p>strong {
    color: #6851DD;
}

h1>strong,
h2>strong,
h3>strong,
h4>strong,
h5>strong,
h6>strong {
    font-size: 1rem;
    font-weight: bold;
}

.blog-body>h1,
.blog-body>h2,
.blog-body>h3,
.blog-body>h4,
.blog-body>h5,
.blog-body>h6 {
    font-size: 1.5rem;
}

.blog-body>div>img {
    width: 25%;
    height: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.blog-body>div {
    display: flex;
    justify-content: center;
}

div img {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

ul::marker,
 ::marker {
    color: #6851DD;
    outline: solid;
}

ol::marker {
    color: #FEBDF2;
}

.blog-body>ol,
.blog-body>ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

ol>li,
ul>li {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

li>ul,
li>ol {
    margin-left: 2%;
}

.blog-body>p>a,
.blog-body>a {
    color: #FEBDF2;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #6851DD;
}

.blog-body>p>a:hover,
.blog-body>a:hover {
    color: #6851DD;
}

@media only screen and (max-width: 1000px) {
    /* Blog home styles: */
    .blog-home {
        padding-left: 5%;
        padding-right: 5%;
    }
    .card-image {
        display: block;
    }
    .categories {
        display: grid;
    }
    .categories>h6 {
        margin: 0;
    }
    /* Blog single styles */
    .single-blog {
        padding-top: 20%;
    }
    .blog-tit {
        font-size: 2rem;
        margin-bottom: 2%;
    }
    .blog-date {
        font-size: 0.9rem;
        margin-bottom: 2%;
    }
    .single-head {
        margin-left: 5%;
    }
    .blog-body {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .single-img {
        display: block;
    }
    .blog-body>div>img {
        width: 50%;
        height: 50%;
    }
    .tits,
    .dates {
        display: grid;
        text-align: center;
        justify-content: center;
    }
    .card-see-all {
        display: none;
    }
}