/* * {
    cursor: none;
} */

.cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: #FEBDF2;
    mix-blend-mode: difference;
    background-color: #FEBDF2;
    z-index: 10;
}